
<div style="display: flex; flex-direction: row-reverse;">
    <mat-icon mat-dialog-close matRipple class="felipe-action-button mat-elevation-z5" matRippleColor="rgba(251,194,0,0.8)">cancel</mat-icon>
</div>
<div>
    <strong><h4 style="text-align: center; margin: 0;">Add new player</h4></strong>

        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Player"> 
                <div style="min-height: 30vh; display: flex; justify-content: space-around; flex-direction: column; align-items: center;">
                   
                </div>  
            </mat-tab>
            <mat-tab label="Team">
                <div style="min-height: 30vh; display: flex; justify-content: space-around; align-items: center;">
                    <div style="display: flex; flex-direction: column;">
                        
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        
                    </div>
                </div>    
            </mat-tab>
        </mat-tab-group>

    
</div>