<div style="display: flex;">

    <div class="felipe-icon-container">
        <div class="felipe-icon mat-elevation-z10" matRipple (click)="redirect('players')">
            <mat-icon class="felipe-mat-icon" color="primary">directions_run</mat-icon>
        </div>
        <div style='font-size: 17px;'>
            <strong>Players</strong>
        </div>
    </div>

    <div class="felipe-icon-container">
        <div class="felipe-icon mat-elevation-z10" matRipple (click)="redirect('teams')">
            <mat-icon class="felipe-mat-icon" color="primary">sports_basketball</mat-icon>
        </div>
        <div style='font-size: 17px;'>
            <strong>Teams</strong>
        </div>
    </div>

</div>